<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionary1</key>
	<dict>
		<key>key1.1</key>
		<string>String</string>
		<key>key1.2</key>
		<false/>
		<key>key1.3</key>
		<integer>300</integer>
		<key>key1.4</key>
		<dict>
			<key>key1.4.1</key>
			<string>value41</string>
			<key>key1.4.2</key>
			<array>
				<string>array142-1</string>
				<string>array142-2</string>
			</array>
		</dict>
	</dict>
	<key>Dictionary3</key>
	<dict>
		<key>key31</key>
		<string>value31</string>
		<key>key32</key>
		<string>value32</string>
		<key>key33</key>
		<true/>
		<key>key34</key>
		<date>2016-05-27T08:04:02Z</date>
	</dict>
	<key>Dictionary2</key>
	<dict>
		<key>key2.1</key>
		<string>String</string>
		<key>key2.2</key>
		<false/>
		<key>key2.3</key>
		<integer>300</integer>
		<key>key2.4</key>
		<dict>
			<key>key241</key>
			<string>value41</string>
			<key>key242</key>
			<array>
				<string>array242-1</string>
				<string>array242-2</string>
			</array>
		</dict>
	</dict>
	<key>Array1</key>
	<array>
		<false/>
		<integer>0</integer>
		<string>string</string>
		<dict>
			<key>key-11</key>
			<string>value11</string>
			<key>array-11</key>
			<array>
				<string>item-111</string>
				<string>item-112</string>
			</array>
		</dict>
	</array>
	<key>String-out</key>
	<string>String-out</string>
	<key>Bool-out</key>
	<false/>
	<key>Number-out</key>
	<integer>100</integer>
</dict>
</plist>
